/* === MOBILE === */
@media screen and (min-width: 428px){
    .container{
      max-width: 426px;
    }
    /* === footer === */
}
  
  /* === LAPTOP === */
@media screen and (min-width: 768px){
    .container{
      max-width: 766px;
    }
    /* === text === */
    .heder-title{
      font-size: 56px;
      line-height: 1.07;
      max-width: 496px;
      margin-bottom: 36px;
    }
  
    /* === 2 === */
    .benefits-item{
      flex-basis: calc((100% - 72px) / 2);
    }
     /* === 4 === */
     .card-employee-list {
      gap: 64px 24px;
    }
    .card-employee-item{
      flex-basis: calc((100% - 72px) / 2);
    }
    /* === 5 === */
    .customers-list{
      gap: 72px 24px;
    }
    .cut{
      width: calc((100% - 48px) / 3);
    }
    /* === footer === */
}
  
/* === DESTOP === */
@media screen and (min-width: 1158px){
    .container{
      max-width: 1158px;
    }
    /* === text === */
  
    .heder-title{
      margin-bottom: 48px;
    }
    .subtitel-options-text{
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
    }
    .suboptions-descriptions-text{
      font-weight: 500;
    }
    /* === 2 === */
    .benefits{
      padding: 120px 0;
    }
    .benefits-option{
      gap: 24px;
  
    }
    .benefits-item{
      flex-basis: calc((100% - 72px) / 4);
    }
   
    /* === svg === */
    .advantages-block {
      visibility: visible;
      display: flex;
      height: 112px;
      border-radius: 4px;
      background-color: #f4f4fd;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
    }
    .advantages-icon {
      fill: var(--dark);
    }
     /* === 3 === */
    .category-product{
      padding-bottom: 96px;
    }
    
    .product-text{
      text-align: center;
      margin-bottom: 72px;
    }
    
    .category-product-list{
      display: flex;
      align-items: center;
      gap: 24px;
    }
    .category-product-item{
      flex-basis: calc((100% - 48px) / 3);
    }
     /* === 4 === */
    .card-employee{
      padding-top: 120px;
      padding-bottom: 120px;
    }
    .card-employee-list {
      gap: 24px;
    }
    .card-employee-item{
      flex-basis: calc((100% - 72px) / 4);
    }
    /* === 5 === */
    .customers{
      padding-top: 120px;
      padding-bottom: 120px;
    }
    .customers-list{
      gap: 24px;
    }
    .cut{
      width: calc((100% - 120px) / 6);
    } 
    /* === footer === */
    .footer-bg{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer-container{
        display: flex;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-right: 120px;
    }
  
    .footer-form{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
   
    .social{
        text-align: left;
        margin-right: 80px;
    }
    .search>.suboptions-descriptions-text{
        text-align: left;
    }
    .search-form {
        width: 264px;
    }
}